$shuffle-icon: url('../../../public/image/shuffle.svg');
$previous-con: url('../../../public/image/previous.svg');
$previous-con-colored: url('../../../public/image/previous-colored.svg');
$play-icon: url('../../../public/image/play.svg');
$pause-icon: url('../../../public/image/Pause.svg');
$next-icon: url('../../../public/image/next.svg');
$next-icon-colored: url('../../../public/image/next-colored.svg');
$repeat-icon: url('../../../public/image/repeate-one.svg');
$repeat-icon-colored: url('../../../public/image/repeate-one-colored.svg');
$shuffle-icon-colored: url('../../../public/image/shuffle-colored.svg');



.player{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 125px;
  background: rgba(29, 33, 35, 0.30);
  backdrop-filter: blur(15px);
  z-index: 3;
}

.player__artist-container{
  max-width: 150px;
}

.player__artist{
  display: flex;
  justify-content: start;
  align-items: center;
  grid-gap: 13px;
  min-width: 200px;
  margin-right: 10px;
}

.player__song-title{
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  margin: 0 0 3px;
  max-width: 130px;
}

.player__sing-artist{
  font-size: 10px;
  font-weight: 700;
  line-height: 120%;
  color: #FFFFFF70;
  margin: 0;
  text-overflow: ellipsis;
}

.player__item-like{
  background-color: inherit;
  border: none;
}

.player__like-image{
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease;
}

.player__like-image:hover{
  opacity: .5;
}

.player__song-img{
  width: 49px;
  height: 49px;
  border-radius: 14px;
  object-fit: cover;
}

.player__music{
  min-width: 749px;
}

input[type="range"] {
  accent-color: #FACD66;
}


.player__btn-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 270px;
  margin: 0 auto 32px;
}

.player__btn{
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  opacity: 1;
  transition: opacity .2s linear;
}

.player__btn:hover{
opacity: .5;
}

.player__shuffle-btn{
  background-image: $shuffle-icon;
}

.player__shuffle-btn_type_active{
  background-image: $shuffle-icon-colored;
}

.player__back-btn{
  background-image: $previous-con;
}

.player__back-btn:active{
  background-image: $previous-con-colored;
}

.player__play-btn{
  background-image: $play-icon;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #FACD66;
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.30);
  border-radius: 100px;
  width: 25px;
  height: 25px;
}

.player__play-btn_type_pause{
  background-image: $pause-icon;
  background-size: 15px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  box-shadow: 0px 0px 18px 0px rgba(248, 223, 2, 0.3);
}

.player__next-btn{
  background-image: $next-icon;
}

.player__next-btn:active{
  background-image: $next-icon-colored;
}

.player__repeat-btn{
  background-image: $repeat-icon;
}

.player__repeat-btn_type_active{
  background-image: $repeat-icon-colored;
}
