.library {
  min-width: 1122px;
}

.library__container{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-gap: 30px;
  padding: 0;
  max-width: 1122px;
}

.library__item{
  position: relative;
}

.library__item-image{
  width: 213px;
  height: 234px;
  object-fit: cover;
  filter:brightness(30%);
  cursor: pointer;
  border-radius: 20px;
  box-shadow: none;
  transition: box-shadow .3s ease;
}

.library__item-image:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);;
}

.library__item-title{
  user-select: none;
  position: absolute;
  left: 20px;
  top: 70%;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  cursor: pointer;
}

.library__item-description{
  user-select: none;
  position: absolute;
  left: 20px;
  top: 82%;
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 120%;
  color: #EFEEE0;
  opacity: .75;
  cursor: pointer;
}
