$play-big: url(../../../public/image/play-big.svg);
$play-std: url(../../../public/image/play.svg);



.home__page{
  display: flex;
  justify-content: space-between;
}

.banners{
  display: flex;
  background-color: #609EAF;
  border-radius: 40px;
  max-width: 686px;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.banners__text-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 276px;
  margin-left: 45px;
  margin-bottom: 40px;
  margin-top: 38px;
}

.banners__like-container{
  display: flex;
  align-items: center;
  grid-gap: 8px;
}

.banners__human-like{
  height: 20px;
  margin-right: 3px;
  pointer-events: none;
}

.banners__artist{
  z-index: 1;
  pointer-events: none;
}

.banner__effect{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
  pointer-events: none;
}


// home__chart
.home__chart{
  margin-left: 39px;
}

.chart__list{
  padding: 0;
}

.chart__title{
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.chart__image-container{
  position: relative;
  cursor: pointer;
}

.chart__image-container::before{
  content: $play-std;
  position: absolute;
  font-size: 1rem;
  top: 33%;
  left: 45%;
  opacity: 0;
  z-index: 1;
  transition: filter .3s linear;
}

.chart__image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 15.2%;
  right: 15.3%;
  bottom: 5.5%;
  background: rgba(0, 0, 0, 0.479);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.chart__image-container:hover::before, .chart__image-container:hover::after{
  opacity: 1;
}

.chart__item{
  list-style-type: none;
  display: flex;
  align-items: center;
  min-width: 417px;
  min-height: 96px;
  border-radius: 20px;
  background-color: #1A1E1F;
  margin-bottom: 12px;
}

.chart__image {
  border-radius: 10px;
  margin-right: 14px;
  margin-left: 14px;
  width: 63px;
  height: 63px;
  object-fit: cover;
}


.chart__item-title{
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 4px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chart__item-description{
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF80;
  margin: 0 0 8px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chart__item-time{
  font-size: 12px;
  font-weight: 400;
}

.chart__like-image{
  padding-top: 5px;
}

.chart__item-like{
  width: 37px;
  height: 37px;
  background-color: inherit;
  border-radius: 20px;
  border: 1px solid #FFFFFF1C;
  padding: 0;
  margin-left: auto;
  margin-right: 21px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.chart__item-like:hover{
opacity: .6;
}

// Releases

.releases__list{
  margin: 0;
  max-width: 1125px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 41px;
  padding: 0;
}

.releases__item{
  list-style-type: none;
  max-width: 153px;
}

.releases__item-image{
  width: 153px;
  height: 153px;
  border-radius: 25px;
  object-fit: cover;
  cursor: pointer;

  z-index: 0;
}

.releases__image-container{
  position: relative;
  cursor: pointer;
}

.releases__image-container::before{
  content: $play-big;
  position: absolute;
  font-size: 1rem;
  top: 38%;
  left: 38%;
  opacity: 0;
  z-index: 1;
  transition: filter .3s linear;
}

.releases__image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2.5%;
  background: rgba(0, 0, 0, 0.479);
  border-radius: 25px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.releases__image-container:hover::before, .releases__image-container:hover::after{
  opacity: 1;
}


.releases__item-title{
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
}

.releases__item-description{
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF80;
  text-overflow: ellipsis;
  margin: 0;
}


@media screen and (max-width: 1200px) {
  .chart__item{
    min-width: 300px;
  }
  .home__page{
    justify-content: flex-start;
  }

  .releases__list{
    justify-content: flex-start;
  }

  .chart__item-description{
    max-width: 130px;
  }

  .chart__item-title{
    max-width: 130px;
  }
}

@media screen and (max-width: 930px) {

  .home__page{
    justify-content: space-between;
  }

  .chart__list{
    margin-right: 110px;
  }

  .chart__item{
    min-width: 300px;
  }

  .banners__artist{
    display: none;
  }
}

@media screen and (max-width: 850px) {

  .banners__description{
    font-size: 10px;
  }

  .banners__text-container{
    justify-content: flex-start;
    margin-left: 10px;
  }

  .banners__like-container{
    display: none;
  }
}

@media screen and (max-width: 690px) {

  .home__page{
    flex-direction: column;
  }

  .banners{
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .home__chart {
    margin: 0;
  }

  .chart__list{
    margin-right: 20px;
  }

  .chart__item-description{
    max-width: 200px;
  }

  .chart__item-title{
    max-width: 200px;
  }

}

@media screen and (max-width: 450px) {

  .banners{
    margin-left: 20px;
  }

  .home__chart{
    margin-left: 20px;
  }

  .releases{
    margin-left: 20px;
    margin-right: 20px;
  }

  .releases__list{
    justify-content: space-between;
  }

  .chart__item-description{
    max-width: 160px;
  }

  .chart__item-title{
    max-width: 160px;
  }

}

@media screen and (max-width: 390px) {

  .releases__item-image{
    width: 70px;
    height: 70px;
    border-radius: 15px;
  }

  .releases__image-container::after{
    display: none;
  }

  .releases__image-container::before{
    display: none;
  }

  .releases__item{
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .releases__item-title{
    font-size: 10px;
  }

  .releases__item-description{
    font-size: 8px;
  }

  .chart__item-description{
    max-width: 100px;
  }

  .chart__item-title{
    max-width: 120px;
  }
}

@media screen and (max-width: 331px) {
  .releases__list{
    grid-gap: 20px;
  }
}
