
.home__search{
  padding-top: 31px;
  display: flex;
  grid-gap: 20px;
  margin-bottom: 49px;
}

.home__page{
  display: flex;
  justify-content: space-between;
}

.home__search-img{
  width: 16px;
  height: 16px;
}

.home__input{
  background-color: inherit;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.25);
  width: 250px;
}

.banners{

  display: flex;
  background-color: #609EAF;
  border-radius: 40px;
  max-width: 686px;
  position: relative;
  overflow: hidden;
}

.banners__text-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 276px;
  margin-left: 45px;
  margin-bottom: 40px;
  margin-top: 38px;
}

.banners__like-container{
  display: flex;
  align-items: center;
  grid-gap: 8px;
}

.banners__human-like{
  height: 20px;
  margin-right: 3px;
}

.banners__artist{
  z-index: 1;
}

.banner__effect{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
}


// home__chart
.home__chart{
  margin-left: 39px;
}

.chart__list{
  padding: 0;
}

.chart__title{
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.chart__item{
  list-style-type: none;
  display: flex;
  align-items: center;
  min-width: 417px;
  min-height: 96px;
  border-radius: 20px;
  background-color: #1A1E1F;
  margin-bottom: 12px;
}

.chart__image {
  border-radius: 10px;
  margin-right: 14px;
  margin-left: 14px;
}

.chart__item-title{
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 4px;
}

.chart__item-description{
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF80;
  margin: 0 0 8px;
}

.chart__item-time{
  font-size: 12px;
  font-weight: 400;
}

.chart__like-image{
  padding-top: 5px;
}

.chart__item-like{
  width: 37px;
  height: 37px;
  background-color: inherit;
  border-radius: 20px;
  border: 1px solid #FFFFFF1C;
  padding: 0;
  margin-left: auto;
  margin-right: 21px;
}

// Releases

.releases__list{
  margin: 0;
  max-width: 1125px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 41px;
  padding: 0;
}

.releases__item{
  list-style-type: none;
}

.releases__item-image{
  width: 153px;
  height: 153px;
  border-radius: 25px;
}

.releases__item-title{
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF80;
}
