.page {
  min-height: 100vh;
  min-width: 320px;
  font-family: 'Quicksand', Arial, sans-serif;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #1D2123;
  display: flex;
  grid-gap: 24px;
  justify-content: center;
  position: relative;
}
